*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--root-font-size);
  color: var(--color-black);
  background: var(--color-white);
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: inherit;
}

ul,
ol {
  @include list-reset;
}

button {
  @include btn-reset;
}
